{% extends "base.html" %}
{% load crispy_forms_tags %} 



{% block content %}



<section class="form-create">
    <a class="btn btn-danger btn-lg" href="{{request.META.HTTP_REFERER}}">Atras!</a>

    {{ form.media}}
    <div class="">
        <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-8">{{form.title|as_crispy_field}}</div>
                <div class="col-3">{{form.tags|as_crispy_field}}</div>
            </div>
            <div class="">
                {{form.body|as_crispy_field}}
            </div>
            <div class="col-4">
                {{form.time_read|as_crispy_field}}
            </div>
            <button type="submit" class="btn btn-success btn-lg">Guardar!</button>
        </form>
     </div>

</section>


{% endblock content %}