

<footer>
      <div class="contender-footer"> 
          {% comment %} <div class="fuentes-footer">
            <h3>Recursos</h3>
            <ul>
              <li><a href="#">Mapa del Sitio</a></li>
              <li><a href="#">Rss Feed</a></li>
              <li><a href="">Solicitud de funcion</a></li>
              <li><a href="">Reportar un error</a></li>
            </ul>
          </div>
          <div class="paginas-footer">
              <h3>Paginas</h3>
              <ul>
                <li><a href="#">Articulos</a></li>
                <li><a href="#">Proyectos con Django</a></li>
                <li><a href="#"></a>Libros</li>
                <li><a href="#"></a>Cursos</li>
              </ul>
          </div>
          <div class="explorar-footer">
            <h3>Proyectos con Django</h3>
            <ul>
              <li><a href="#">Enviar un proyecto</a></li>
              <li><a href="#">Redes Sociales</a></li>
              <li><a href="#">Proyecto de codigo abierto</a></li>
            </ul>

          </div>
      </div> {% endcomment %}
      <div class="">
        <div class="footer-final">
          <p>&copy; 2024 - Opaito Blog | Desarrollado por Eduardo</p>
        </div>
      </div>
</footer>