<main>
    <div class="seccion-principal">
      <h2>Ultimos Articulos</h2>
      <p class="parrafo-titulo">Lea el ultimo de mundo Django</p>
      <seccion class="contendor-articulos">
        <!--1-->
        {% for blog  in blogs %}
          <div class="articulos">
            <!-- Categoria-->
            <span class="etiqueta">Libro</span>
            <div class="d-flex justify-content-between align-items-center">
              <h2><a href="#">{{blog.title}}</a></h2>
              {% if request.user.is_authenticated %}
                <a href="{% url 'updateblog' blog.slug %}"><i class="ph ph-pencil"></i></a>
              {% endif %}
            </div>
            <p>
              {{blog.body|safe|truncatechars:450}}
            </p>
            <div class="mas-informacion">
                <a href="{% url 'singleblog' blog.slug %}">Leer más...</a>
              <span class="span-lectura">{{blog.time_read}} minutos de lectura</span>
            </div>
          </div>
  
        {% endfor %}
      </seccion>
    </div>

    <div class="youtube">
      <h2>Links de youtube</h2>
      <ul>
        <li><a href="">Liks de youtube</a></li>
        <li><a href="">Liks de youtube</a></li>
        <li><a href="">Liks de youtube</a></li>
        <li><a href="">Liks de youtube</a></li>
        <li><a href="">Liks de youtube</a></li>
      </ul>
    </div>

  </main>